body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1579px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:819px;
  top:-11px;
  width:204px;
  height:101px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:1220px;
  top:417px;
  width:204px;
  height:101px;
}
#u21 {
  position:absolute;
  left:2px;
  top:42px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:423px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:423px;
}
#u23 {
  position:absolute;
  left:2px;
  top:204px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1579px;
  height:640px;
}
#u24 {
  position:absolute;
  left:0px;
  top:423px;
  width:1579px;
  height:640px;
}
#u25 {
  position:absolute;
  left:2px;
  top:312px;
  width:1575px;
  visibility:hidden;
  word-wrap:break-word;
}
