body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:668px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8431 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:668px;
}
#u8432 {
  position:absolute;
  left:2px;
  top:326px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:668px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8433 {
  position:absolute;
  left:510px;
  top:0px;
  width:450px;
  height:668px;
}
#u8434 {
  position:absolute;
  left:2px;
  top:326px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8435 {
  position:absolute;
  left:510px;
  top:0px;
  width:450px;
  height:39px;
}
#u8436 {
  position:absolute;
  left:2px;
  top:12px;
  width:446px;
  word-wrap:break-word;
}
#u8437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u8437 {
  position:absolute;
  left:524px;
  top:44px;
  width:29px;
  height:26px;
}
#u8438 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u8439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8439 {
  position:absolute;
  left:562px;
  top:44px;
  width:384px;
  height:37px;
}
#u8440 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u8441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u8441 {
  position:absolute;
  left:524px;
  top:91px;
  width:29px;
  height:26px;
}
#u8442 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u8443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8443 {
  position:absolute;
  left:562px;
  top:91px;
  width:384px;
  height:79px;
}
#u8444 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u8445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:564px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8445 {
  position:absolute;
  left:7px;
  top:86px;
  width:432px;
  height:564px;
}
#u8446 {
  position:absolute;
  left:2px;
  top:274px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#E4E4E4;
}
#u8447 {
  position:absolute;
  left:7px;
  top:86px;
  width:432px;
  height:42px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#E4E4E4;
}
#u8448 {
  position:absolute;
  left:2px;
  top:10px;
  width:428px;
  word-wrap:break-word;
}
#u8449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u8449 {
  position:absolute;
  left:17px;
  top:98px;
  width:12px;
  height:20px;
}
#u8450 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8451 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u8452 {
  position:absolute;
  left:11px;
  top:40px;
  width:26px;
  height:26px;
}
#u8453 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  word-wrap:break-word;
}
#u8454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u8454 {
  position:absolute;
  left:15px;
  top:84px;
  width:17px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u8455 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8456_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:20px;
  height:20px;
}
#u8456 {
  position:absolute;
  left:19px;
  top:66px;
  width:10px;
  height:10px;
}
#u8457 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8458 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:40px;
}
#u8459 {
  position:absolute;
  left:2px;
  top:12px;
  width:446px;
  word-wrap:break-word;
}
#u8460 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:2px;
}
#u8461 {
  position:absolute;
  left:430px;
  top:147px;
  width:34px;
  height:1px;
}
#u8462 {
  position:absolute;
  left:2px;
  top:-8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u8463 {
  position:absolute;
  left:474px;
  top:134px;
  width:26px;
  height:26px;
}
#u8464 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  word-wrap:break-word;
}
#u8465_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:20px;
  height:20px;
}
#u8465 {
  position:absolute;
  left:464px;
  top:142px;
  width:10px;
  height:10px;
}
#u8466 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8467 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8468 {
  position:absolute;
  left:7px;
  top:170px;
  width:432px;
  height:522px;
  overflow:hidden;
}
#u8468_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:522px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8468_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8469 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2px;
}
#u8470 {
  position:absolute;
  left:7px;
  top:45px;
  width:419px;
  height:1px;
}
#u8471 {
  position:absolute;
  left:2px;
  top:-8px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8472 {
  position:absolute;
  left:7px;
  top:8px;
  width:343px;
  height:16px;
}
#u8473 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u8474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8474 {
  position:absolute;
  left:366px;
  top:4px;
  width:60px;
  height:25px;
  color:#FF0000;
}
#u8475 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u8476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8476 {
  position:absolute;
  left:310px;
  top:29px;
  width:116px;
  height:15px;
  font-size:12px;
}
#u8477 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u8478 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2px;
}
#u8479 {
  position:absolute;
  left:7px;
  top:97px;
  width:419px;
  height:1px;
}
#u8480 {
  position:absolute;
  left:2px;
  top:-8px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8481 {
  position:absolute;
  left:7px;
  top:60px;
  width:329px;
  height:16px;
}
#u8482 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  white-space:nowrap;
}
#u8483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8483 {
  position:absolute;
  left:366px;
  top:56px;
  width:60px;
  height:25px;
  color:#FF0000;
}
#u8484 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u8485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8485 {
  position:absolute;
  left:310px;
  top:81px;
  width:116px;
  height:15px;
  font-size:12px;
}
#u8486 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u8468_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:522px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8468_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8468_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:522px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8468_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8487 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2px;
}
#u8488 {
  position:absolute;
  left:7px;
  top:45px;
  width:419px;
  height:1px;
}
#u8489 {
  position:absolute;
  left:2px;
  top:-8px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8490 {
  position:absolute;
  left:7px;
  top:8px;
  width:281px;
  height:16px;
}
#u8491 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u8492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC00;
}
#u8492 {
  position:absolute;
  left:366px;
  top:4px;
  width:60px;
  height:25px;
  color:#00CC00;
}
#u8493 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u8494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8494 {
  position:absolute;
  left:310px;
  top:29px;
  width:116px;
  height:15px;
  font-size:12px;
}
#u8495 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u8496 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2px;
}
#u8497 {
  position:absolute;
  left:7px;
  top:97px;
  width:419px;
  height:1px;
}
#u8498 {
  position:absolute;
  left:2px;
  top:-8px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8499 {
  position:absolute;
  left:7px;
  top:60px;
  width:267px;
  height:16px;
}
#u8500 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u8501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC00;
}
#u8501 {
  position:absolute;
  left:366px;
  top:56px;
  width:60px;
  height:25px;
  color:#00CC00;
}
#u8502 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u8503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8503 {
  position:absolute;
  left:310px;
  top:81px;
  width:116px;
  height:15px;
  font-size:12px;
}
#u8504 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u8468_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:522px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8468_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8468_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:522px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8468_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8505 {
  position:absolute;
  left:10px;
  top:170px;
  width:428px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8506 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8507 {
  position:absolute;
  left:21px;
  top:128px;
  width:81px;
  height:42px;
}
#u8507_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8507.selected {
}
#u8508 {
  position:absolute;
  left:2px;
  top:13px;
  width:77px;
  word-wrap:break-word;
}
#u8509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8509 {
  position:absolute;
  left:102px;
  top:128px;
  width:81px;
  height:42px;
}
#u8509_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8509.selected {
}
#u8510 {
  position:absolute;
  left:2px;
  top:13px;
  width:77px;
  word-wrap:break-word;
}
#u8511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8511 {
  position:absolute;
  left:183px;
  top:128px;
  width:81px;
  height:42px;
}
#u8511_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8511.selected {
}
#u8512 {
  position:absolute;
  left:2px;
  top:13px;
  width:77px;
  word-wrap:break-word;
}
#u8513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8513 {
  position:absolute;
  left:264px;
  top:128px;
  width:81px;
  height:42px;
}
#u8513_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8513.selected {
}
#u8514 {
  position:absolute;
  left:2px;
  top:13px;
  width:77px;
  word-wrap:break-word;
}
#u8515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8515 {
  position:absolute;
  left:345px;
  top:128px;
  width:81px;
  height:42px;
}
#u8515_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8515.selected {
}
#u8516 {
  position:absolute;
  left:2px;
  top:13px;
  width:77px;
  word-wrap:break-word;
}
