body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1144px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:1226px;
}
#u6166 {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:1226px;
}
#u6167 {
  position:absolute;
  left:2px;
  top:605px;
  width:1140px;
  visibility:hidden;
  word-wrap:break-word;
}
