body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u8369 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u8370 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8371 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u8372 {
  position:absolute;
  left:424px;
  top:451px;
  width:36px;
  height:1px;
}
#u8373 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8374_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:20px;
  height:20px;
}
#u8374 {
  position:absolute;
  left:460px;
  top:447px;
  width:10px;
  height:10px;
}
#u8375 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8376 {
  position:absolute;
  left:470px;
  top:440px;
  width:25px;
  height:25px;
}
#u8377 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u8378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8378 {
  position:absolute;
  left:510px;
  top:0px;
  width:450px;
  height:800px;
}
#u8379 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8380 {
  position:absolute;
  left:510px;
  top:0px;
  width:450px;
  height:47px;
}
#u8381 {
  position:absolute;
  left:2px;
  top:16px;
  width:446px;
  word-wrap:break-word;
}
#u8382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:31px;
}
#u8382 {
  position:absolute;
  left:524px;
  top:53px;
  width:29px;
  height:31px;
}
#u8383 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  word-wrap:break-word;
}
#u8384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8384 {
  position:absolute;
  left:562px;
  top:53px;
  width:384px;
  height:44px;
}
#u8385 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u8386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8386 {
  position:absolute;
  left:650px;
  top:107px;
  width:100px;
  height:60px;
}
#u8387 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8388 {
  position:absolute;
  left:651px;
  top:188px;
  width:100px;
  height:60px;
}
#u8389 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u8390 {
  position:absolute;
  left:623px;
  top:268px;
  width:155px;
  height:70px;
}
#u8391 {
  position:absolute;
  left:2px;
  top:19px;
  width:151px;
  word-wrap:break-word;
}
#u8392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u8392 {
  position:absolute;
  left:623px;
  top:365px;
  width:155px;
  height:70px;
}
#u8393 {
  position:absolute;
  left:2px;
  top:19px;
  width:151px;
  word-wrap:break-word;
}
#u8394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u8394 {
  position:absolute;
  left:623px;
  top:460px;
  width:155px;
  height:70px;
}
#u8395 {
  position:absolute;
  left:2px;
  top:19px;
  width:151px;
  word-wrap:break-word;
}
#u8396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u8396 {
  position:absolute;
  left:623px;
  top:551px;
  width:155px;
  height:70px;
}
#u8397 {
  position:absolute;
  left:2px;
  top:27px;
  width:151px;
  word-wrap:break-word;
}
#u8398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u8398 {
  position:absolute;
  left:623px;
  top:642px;
  width:155px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8399 {
  position:absolute;
  left:2px;
  top:27px;
  width:151px;
  word-wrap:break-word;
}
#u8400 {
  position:absolute;
  left:700px;
  top:167px;
  width:0px;
  height:0px;
}
#u8400_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u8400_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:9px;
  height:8px;
}
#u8400_seg2 {
  position:absolute;
  left:-3px;
  top:6px;
  width:8px;
  height:15px;
}
#u8400_seg3 {
  position:absolute;
  left:-8px;
  top:9px;
  width:18px;
  height:18px;
}
#u8401 {
  position:absolute;
  left:-49px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8402 {
  position:absolute;
  left:701px;
  top:248px;
  width:0px;
  height:0px;
}
#u8402_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u8402_seg1 {
  position:absolute;
  left:-9px;
  top:8px;
  width:18px;
  height:18px;
}
#u8403 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8404 {
  position:absolute;
  left:701px;
  top:338px;
  width:0px;
  height:0px;
}
#u8404_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u8404_seg1 {
  position:absolute;
  left:-9px;
  top:15px;
  width:18px;
  height:18px;
}
#u8405 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8406 {
  position:absolute;
  left:701px;
  top:435px;
  width:0px;
  height:0px;
}
#u8406_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u8406_seg1 {
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:18px;
}
#u8407 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8408 {
  position:absolute;
  left:701px;
  top:621px;
  width:0px;
  height:0px;
}
#u8408_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u8408_seg1 {
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:18px;
}
#u8409 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8410 {
  position:absolute;
  left:778px;
  top:400px;
  width:0px;
  height:0px;
}
#u8410_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u8410_seg1 {
  position:absolute;
  left:98px;
  top:-101px;
  width:8px;
  height:105px;
}
#u8410_seg2 {
  position:absolute;
  left:0px;
  top:-101px;
  width:106px;
  height:8px;
}
#u8410_seg3 {
  position:absolute;
  left:-6px;
  top:-106px;
  width:18px;
  height:18px;
}
#u8411 {
  position:absolute;
  left:52px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8412 {
  position:absolute;
  left:778px;
  top:495px;
  width:0px;
  height:0px;
}
#u8412_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u8412_seg1 {
  position:absolute;
  left:8px;
  top:-99px;
  width:8px;
  height:103px;
}
#u8412_seg2 {
  position:absolute;
  left:0px;
  top:-99px;
  width:16px;
  height:8px;
}
#u8412_seg3 {
  position:absolute;
  left:-6px;
  top:-104px;
  width:18px;
  height:18px;
}
#u8413 {
  position:absolute;
  left:-38px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8414 {
  position:absolute;
  left:778px;
  top:586px;
  width:0px;
  height:0px;
}
#u8414_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u8414_seg1 {
  position:absolute;
  left:8px;
  top:-95px;
  width:8px;
  height:99px;
}
#u8414_seg2 {
  position:absolute;
  left:0px;
  top:-95px;
  width:16px;
  height:8px;
}
#u8414_seg3 {
  position:absolute;
  left:-6px;
  top:-100px;
  width:18px;
  height:18px;
}
#u8415 {
  position:absolute;
  left:-38px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8416 {
  position:absolute;
  left:778px;
  top:677px;
  width:0px;
  height:0px;
}
#u8416_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u8416_seg1 {
  position:absolute;
  left:8px;
  top:-95px;
  width:8px;
  height:99px;
}
#u8416_seg2 {
  position:absolute;
  left:0px;
  top:-95px;
  width:16px;
  height:8px;
}
#u8416_seg3 {
  position:absolute;
  left:-6px;
  top:-100px;
  width:18px;
  height:18px;
}
#u8417 {
  position:absolute;
  left:-38px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8418 {
  position:absolute;
  left:651px;
  top:730px;
  width:100px;
  height:60px;
}
#u8419 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8420 {
  position:absolute;
  left:778px;
  top:303px;
  width:0px;
  height:0px;
}
#u8420_seg0 {
  position:absolute;
  left:-4px;
  top:-89px;
  width:8px;
  height:89px;
}
#u8420_seg1 {
  position:absolute;
  left:-27px;
  top:-89px;
  width:31px;
  height:8px;
}
#u8420_seg2 {
  position:absolute;
  left:-33px;
  top:-94px;
  width:18px;
  height:18px;
}
#u8421 {
  position:absolute;
  left:-50px;
  top:-64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8422 {
  position:absolute;
  left:701px;
  top:712px;
  width:0px;
  height:0px;
}
#u8422_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u8422_seg1 {
  position:absolute;
  left:-9px;
  top:6px;
  width:18px;
  height:18px;
}
#u8423 {
  position:absolute;
  left:-50px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8424 {
  position:absolute;
  left:788px;
  top:258px;
  width:155px;
  height:32px;
}
#u8425 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u8426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8426 {
  position:absolute;
  left:743px;
  top:348px;
  width:127px;
  height:16px;
}
#u8427 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8428 {
  position:absolute;
  left:701px;
  top:530px;
  width:0px;
  height:0px;
}
#u8428_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u8428_seg1 {
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:18px;
}
#u8429 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8430 {
  position:absolute;
  left:340px;
  top:408px;
  width:90px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
