body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u4989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u4989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u4991 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:451px;
  width:36px;
  height:1px;
}
#u4991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4992_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:20px;
  height:20px;
}
#u4992 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:447px;
  width:10px;
  height:10px;
}
#u4992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4993 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:440px;
  width:25px;
  height:25px;
}
#u4993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u4994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4994 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:450px;
  height:800px;
}
#u4994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4995 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:450px;
  height:47px;
}
#u4995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:446px;
  word-wrap:break-word;
}
#u4996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:31px;
}
#u4996 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:53px;
  width:29px;
  height:31px;
}
#u4996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  word-wrap:break-word;
}
#u4997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4997 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:53px;
  width:384px;
  height:44px;
}
#u4997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u4998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4998 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:107px;
  width:100px;
  height:60px;
}
#u4998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u4999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4999 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:188px;
  width:100px;
  height:60px;
}
#u4999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u5000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u5000 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:268px;
  width:155px;
  height:70px;
}
#u5000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:151px;
  word-wrap:break-word;
}
#u5001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u5001 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:365px;
  width:155px;
  height:70px;
}
#u5001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:151px;
  word-wrap:break-word;
}
#u5002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u5002 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:460px;
  width:155px;
  height:70px;
}
#u5002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:151px;
  word-wrap:break-word;
}
#u5003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u5003 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:551px;
  width:155px;
  height:70px;
}
#u5003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:151px;
  word-wrap:break-word;
}
#u5004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u5004 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:642px;
  width:155px;
  height:70px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:151px;
  word-wrap:break-word;
}
#u5005 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:167px;
  width:0px;
  height:0px;
}
#u5005_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u5005_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:6px;
  width:9px;
  height:8px;
}
#u5005_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:6px;
  width:8px;
  height:15px;
}
#u5005_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:9px;
  width:18px;
  height:18px;
}
#u5005_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5006 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:248px;
  width:0px;
  height:0px;
}
#u5006_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u5006_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:8px;
  width:18px;
  height:18px;
}
#u5006_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5007 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:338px;
  width:0px;
  height:0px;
}
#u5007_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u5007_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:15px;
  width:18px;
  height:18px;
}
#u5007_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5008 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:435px;
  width:0px;
  height:0px;
}
#u5008_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u5008_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:18px;
}
#u5008_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5009 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:621px;
  width:0px;
  height:0px;
}
#u5009_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u5009_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:18px;
}
#u5009_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5010 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:400px;
  width:0px;
  height:0px;
}
#u5010_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u5010_seg1 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-101px;
  width:8px;
  height:105px;
}
#u5010_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-101px;
  width:106px;
  height:8px;
}
#u5010_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-106px;
  width:18px;
  height:18px;
}
#u5010_text {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5011 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:495px;
  width:0px;
  height:0px;
}
#u5011_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u5011_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-99px;
  width:8px;
  height:103px;
}
#u5011_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-99px;
  width:16px;
  height:8px;
}
#u5011_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-104px;
  width:18px;
  height:18px;
}
#u5011_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5012 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:586px;
  width:0px;
  height:0px;
}
#u5012_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u5012_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-95px;
  width:8px;
  height:99px;
}
#u5012_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-95px;
  width:16px;
  height:8px;
}
#u5012_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-100px;
  width:18px;
  height:18px;
}
#u5012_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5013 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:677px;
  width:0px;
  height:0px;
}
#u5013_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u5013_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-95px;
  width:8px;
  height:99px;
}
#u5013_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-95px;
  width:16px;
  height:8px;
}
#u5013_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-100px;
  width:18px;
  height:18px;
}
#u5013_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5014 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:730px;
  width:100px;
  height:60px;
}
#u5014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u5015 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:303px;
  width:0px;
  height:0px;
}
#u5015_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-89px;
  width:8px;
  height:89px;
}
#u5015_seg1 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-89px;
  width:31px;
  height:8px;
}
#u5015_seg2 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-94px;
  width:18px;
  height:18px;
}
#u5015_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5016 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:712px;
  width:0px;
  height:0px;
}
#u5016_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u5016_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:6px;
  width:18px;
  height:18px;
}
#u5016_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5017 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:258px;
  width:155px;
  height:32px;
}
#u5017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u5018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5018 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:348px;
  width:127px;
  height:16px;
}
#u5018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5019 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:530px;
  width:0px;
  height:0px;
}
#u5019_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u5019_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:18px;
}
#u5019_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:408px;
  width:90px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
