body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u8833 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u8834 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u8836 {
  position:absolute;
  left:424px;
  top:451px;
  width:36px;
  height:1px;
}
#u8837 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8838_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:20px;
  height:20px;
}
#u8838 {
  position:absolute;
  left:460px;
  top:447px;
  width:10px;
  height:10px;
}
#u8839 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8840 {
  position:absolute;
  left:470px;
  top:440px;
  width:25px;
  height:25px;
}
#u8841 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u8842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8842 {
  position:absolute;
  left:510px;
  top:0px;
  width:450px;
  height:800px;
}
#u8843 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8844 {
  position:absolute;
  left:510px;
  top:0px;
  width:450px;
  height:47px;
}
#u8845 {
  position:absolute;
  left:2px;
  top:16px;
  width:446px;
  word-wrap:break-word;
}
#u8846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:31px;
}
#u8846 {
  position:absolute;
  left:524px;
  top:53px;
  width:29px;
  height:31px;
}
#u8847 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  word-wrap:break-word;
}
#u8848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8848 {
  position:absolute;
  left:562px;
  top:53px;
  width:384px;
  height:44px;
}
#u8849 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u8850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8850 {
  position:absolute;
  left:650px;
  top:107px;
  width:100px;
  height:60px;
}
#u8851 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8852 {
  position:absolute;
  left:651px;
  top:188px;
  width:100px;
  height:60px;
}
#u8853 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u8854 {
  position:absolute;
  left:623px;
  top:268px;
  width:155px;
  height:70px;
}
#u8855 {
  position:absolute;
  left:2px;
  top:19px;
  width:151px;
  word-wrap:break-word;
}
#u8856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u8856 {
  position:absolute;
  left:623px;
  top:365px;
  width:155px;
  height:70px;
}
#u8857 {
  position:absolute;
  left:2px;
  top:19px;
  width:151px;
  word-wrap:break-word;
}
#u8858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u8858 {
  position:absolute;
  left:623px;
  top:460px;
  width:155px;
  height:70px;
}
#u8859 {
  position:absolute;
  left:2px;
  top:19px;
  width:151px;
  word-wrap:break-word;
}
#u8860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u8860 {
  position:absolute;
  left:623px;
  top:551px;
  width:155px;
  height:70px;
}
#u8861 {
  position:absolute;
  left:2px;
  top:27px;
  width:151px;
  word-wrap:break-word;
}
#u8862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u8862 {
  position:absolute;
  left:623px;
  top:642px;
  width:155px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8863 {
  position:absolute;
  left:2px;
  top:27px;
  width:151px;
  word-wrap:break-word;
}
#u8864 {
  position:absolute;
  left:700px;
  top:167px;
  width:0px;
  height:0px;
}
#u8864_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u8864_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:9px;
  height:8px;
}
#u8864_seg2 {
  position:absolute;
  left:-3px;
  top:6px;
  width:8px;
  height:15px;
}
#u8864_seg3 {
  position:absolute;
  left:-8px;
  top:9px;
  width:18px;
  height:18px;
}
#u8865 {
  position:absolute;
  left:-49px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8866 {
  position:absolute;
  left:701px;
  top:248px;
  width:0px;
  height:0px;
}
#u8866_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u8866_seg1 {
  position:absolute;
  left:-9px;
  top:8px;
  width:18px;
  height:18px;
}
#u8867 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8868 {
  position:absolute;
  left:701px;
  top:338px;
  width:0px;
  height:0px;
}
#u8868_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u8868_seg1 {
  position:absolute;
  left:-9px;
  top:15px;
  width:18px;
  height:18px;
}
#u8869 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8870 {
  position:absolute;
  left:701px;
  top:435px;
  width:0px;
  height:0px;
}
#u8870_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u8870_seg1 {
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:18px;
}
#u8871 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8872 {
  position:absolute;
  left:701px;
  top:621px;
  width:0px;
  height:0px;
}
#u8872_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u8872_seg1 {
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:18px;
}
#u8873 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8874 {
  position:absolute;
  left:778px;
  top:400px;
  width:0px;
  height:0px;
}
#u8874_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u8874_seg1 {
  position:absolute;
  left:98px;
  top:-101px;
  width:8px;
  height:105px;
}
#u8874_seg2 {
  position:absolute;
  left:0px;
  top:-101px;
  width:106px;
  height:8px;
}
#u8874_seg3 {
  position:absolute;
  left:-6px;
  top:-106px;
  width:18px;
  height:18px;
}
#u8875 {
  position:absolute;
  left:52px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8876 {
  position:absolute;
  left:778px;
  top:495px;
  width:0px;
  height:0px;
}
#u8876_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u8876_seg1 {
  position:absolute;
  left:8px;
  top:-99px;
  width:8px;
  height:103px;
}
#u8876_seg2 {
  position:absolute;
  left:0px;
  top:-99px;
  width:16px;
  height:8px;
}
#u8876_seg3 {
  position:absolute;
  left:-6px;
  top:-104px;
  width:18px;
  height:18px;
}
#u8877 {
  position:absolute;
  left:-38px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8878 {
  position:absolute;
  left:778px;
  top:586px;
  width:0px;
  height:0px;
}
#u8878_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u8878_seg1 {
  position:absolute;
  left:8px;
  top:-95px;
  width:8px;
  height:99px;
}
#u8878_seg2 {
  position:absolute;
  left:0px;
  top:-95px;
  width:16px;
  height:8px;
}
#u8878_seg3 {
  position:absolute;
  left:-6px;
  top:-100px;
  width:18px;
  height:18px;
}
#u8879 {
  position:absolute;
  left:-38px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8880 {
  position:absolute;
  left:778px;
  top:677px;
  width:0px;
  height:0px;
}
#u8880_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u8880_seg1 {
  position:absolute;
  left:8px;
  top:-95px;
  width:8px;
  height:99px;
}
#u8880_seg2 {
  position:absolute;
  left:0px;
  top:-95px;
  width:16px;
  height:8px;
}
#u8880_seg3 {
  position:absolute;
  left:-6px;
  top:-100px;
  width:18px;
  height:18px;
}
#u8881 {
  position:absolute;
  left:-38px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8882 {
  position:absolute;
  left:651px;
  top:730px;
  width:100px;
  height:60px;
}
#u8883 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8884 {
  position:absolute;
  left:778px;
  top:303px;
  width:0px;
  height:0px;
}
#u8884_seg0 {
  position:absolute;
  left:-4px;
  top:-89px;
  width:8px;
  height:89px;
}
#u8884_seg1 {
  position:absolute;
  left:-27px;
  top:-89px;
  width:31px;
  height:8px;
}
#u8884_seg2 {
  position:absolute;
  left:-33px;
  top:-94px;
  width:18px;
  height:18px;
}
#u8885 {
  position:absolute;
  left:-50px;
  top:-64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8886 {
  position:absolute;
  left:701px;
  top:712px;
  width:0px;
  height:0px;
}
#u8886_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u8886_seg1 {
  position:absolute;
  left:-9px;
  top:6px;
  width:18px;
  height:18px;
}
#u8887 {
  position:absolute;
  left:-50px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8888 {
  position:absolute;
  left:788px;
  top:258px;
  width:155px;
  height:32px;
}
#u8889 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u8890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8890 {
  position:absolute;
  left:743px;
  top:348px;
  width:127px;
  height:16px;
}
#u8891 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8892 {
  position:absolute;
  left:701px;
  top:530px;
  width:0px;
  height:0px;
}
#u8892_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u8892_seg1 {
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:18px;
}
#u8893 {
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8894 {
  position:absolute;
  left:340px;
  top:408px;
  width:90px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
