body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:520px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10800 {
  position:absolute;
  left:0px;
  top:1px;
  width:520px;
  height:979px;
  overflow:hidden;
}
#u10800_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:979px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10800_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:979px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:77px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10802 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:979px;
}
#u10803 {
  position:absolute;
  left:2px;
  top:482px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10804 {
  position:absolute;
  left:20px;
  top:83px;
  width:480px;
  height:800px;
}
#u10805 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10806 {
  position:absolute;
  left:226px;
  top:17px;
  width:68px;
  height:13px;
}
#u10807 {
  position:absolute;
  left:2px;
  top:-2px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u10809 {
  position:absolute;
  left:70px;
  top:908px;
  width:42px;
  height:42px;
}
#u10810 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u10811 {
  position:absolute;
  left:239px;
  top:908px;
  width:42px;
  height:42px;
}
#u10812 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(162, 162, 162, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10813 {
  position:absolute;
  left:409px;
  top:908px;
  width:42px;
  height:42px;
}
#u10814 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u10816 {
  position:absolute;
  left:240px;
  top:908px;
  width:40px;
  height:41px;
}
#u10817 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u10818 {
  position:absolute;
  left:244px;
  top:912px;
  width:32px;
  height:33px;
}
#u10819 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10820 {
  position:absolute;
  left:21px;
  top:84px;
  width:478px;
  height:38px;
}
#u10821 {
  position:absolute;
  left:2px;
  top:11px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#009587;
  text-align:center;
}
#u10822 {
  position:absolute;
  left:434px;
  top:95px;
  width:54px;
  height:17px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#009587;
  text-align:center;
}
#u10823 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u10824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u10824 {
  position:absolute;
  left:412px;
  top:93px;
  width:12px;
  height:21px;
}
#u10825 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u10826 {
  position:absolute;
  left:341px;
  top:93px;
  width:26px;
  height:21px;
}
#u10827 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
}
#u10828 {
  position:absolute;
  left:37px;
  top:93px;
  width:18px;
  height:21px;
}
#u10829 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u10830 {
  position:absolute;
  left:377px;
  top:93px;
  width:24px;
  height:21px;
  color:#009587;
}
#u10831 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10800_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:979px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10800_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:978px;
}
#u10832 {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:978px;
}
#u10833 {
  position:absolute;
  left:2px;
  top:481px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:38px;
}
#u10834 {
  position:absolute;
  left:28px;
  top:106px;
  width:461px;
  height:38px;
}
#u10835 {
  position:absolute;
  left:2px;
  top:11px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u10836 {
  position:absolute;
  left:426px;
  top:115px;
  width:53px;
  height:20px;
}
#u10837 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A9B7B7;
  text-align:center;
}
#u10838 {
  position:absolute;
  left:85px;
  top:117px;
  width:54px;
  height:17px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A9B7B7;
  text-align:center;
}
#u10839 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u10840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:800px;
}
#u10840 {
  position:absolute;
  left:21px;
  top:85px;
  width:478px;
  height:800px;
}
#u10841 {
  position:absolute;
  left:2px;
  top:392px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
