body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:59px;
  width:300px;
  height:170px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:107px;
  width:983px;
  height:1836px;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:104px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:30px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:0px;
  width:696px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:692px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:0px;
  width:119px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:115px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:45px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:108px;
  height:45px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:45px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:30px;
  width:60px;
  height:45px;
  font-size:14px;
  color:#1E1E1E;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:45px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:30px;
  width:696px;
  height:45px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:692px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:45px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:30px;
  width:119px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:929px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:108px;
  height:929px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:446px;
  width:104px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:929px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:75px;
  width:60px;
  height:929px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:456px;
  width:56px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:929px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:75px;
  width:696px;
  height:929px;
  text-align:left;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:692px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:929px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:75px;
  width:119px;
  height:929px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:384px;
  width:115px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:184px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1004px;
  width:108px;
  height:184px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:84px;
  width:104px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:184px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:1004px;
  width:60px;
  height:184px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:84px;
  width:56px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:184px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:1004px;
  width:696px;
  height:184px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:692px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:184px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:1004px;
  width:119px;
  height:184px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:236px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1188px;
  width:108px;
  height:236px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:110px;
  width:104px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:236px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:1188px;
  width:60px;
  height:236px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:110px;
  width:56px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:236px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:1188px;
  width:696px;
  height:236px;
  font-size:14px;
  text-align:left;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:692px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:236px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:1188px;
  width:119px;
  height:236px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:115px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:99px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1424px;
  width:108px;
  height:99px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:104px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:99px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:1424px;
  width:60px;
  height:99px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:56px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:99px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:1424px;
  width:696px;
  height:99px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:692px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:99px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:1424px;
  width:119px;
  height:99px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:115px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:99px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1523px;
  width:108px;
  height:99px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:99px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:1523px;
  width:60px;
  height:99px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:99px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:1523px;
  width:696px;
  height:99px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:692px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:99px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:1523px;
  width:119px;
  height:99px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:214px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1622px;
  width:108px;
  height:214px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:99px;
  width:104px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:214px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:1622px;
  width:60px;
  height:214px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:56px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:214px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:1622px;
  width:696px;
  height:214px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:692px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:214px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:1622px;
  width:119px;
  height:214px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:97px;
  width:115px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:148px;
  width:673px;
  height:23px;
  font-size:14px;
  color:#1E1E1E;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:1020px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  word-wrap:break-word;
}
