body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:900px;
  top:59px;
  width:300px;
  height:170px;
}
#u19 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:16px;
  top:107px;
  width:988px;
  height:1841px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23 {
  position:absolute;
  left:108px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:30px;
}
#u25 {
  position:absolute;
  left:168px;
  top:0px;
  width:696px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:692px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u27 {
  position:absolute;
  left:864px;
  top:0px;
  width:119px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:45px;
}
#u29 {
  position:absolute;
  left:0px;
  top:30px;
  width:108px;
  height:45px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u30 {
  position:absolute;
  left:2px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:45px;
}
#u31 {
  position:absolute;
  left:108px;
  top:30px;
  width:60px;
  height:45px;
  font-size:14px;
  color:#1E1E1E;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:45px;
}
#u33 {
  position:absolute;
  left:168px;
  top:30px;
  width:696px;
  height:45px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u34 {
  position:absolute;
  left:2px;
  top:16px;
  width:692px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:45px;
}
#u35 {
  position:absolute;
  left:864px;
  top:30px;
  width:119px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:929px;
}
#u37 {
  position:absolute;
  left:0px;
  top:75px;
  width:108px;
  height:929px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u38 {
  position:absolute;
  left:2px;
  top:448px;
  width:104px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:929px;
}
#u39 {
  position:absolute;
  left:108px;
  top:75px;
  width:60px;
  height:929px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u40 {
  position:absolute;
  left:2px;
  top:456px;
  width:56px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:929px;
}
#u41 {
  position:absolute;
  left:168px;
  top:75px;
  width:696px;
  height:929px;
  text-align:left;
}
#u42 {
  position:absolute;
  left:2px;
  top:61px;
  width:692px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:929px;
}
#u43 {
  position:absolute;
  left:864px;
  top:75px;
  width:119px;
  height:929px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u44 {
  position:absolute;
  left:2px;
  top:396px;
  width:115px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:184px;
}
#u45 {
  position:absolute;
  left:0px;
  top:1004px;
  width:108px;
  height:184px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u46 {
  position:absolute;
  left:2px;
  top:84px;
  width:104px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:184px;
}
#u47 {
  position:absolute;
  left:108px;
  top:1004px;
  width:60px;
  height:184px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u48 {
  position:absolute;
  left:2px;
  top:84px;
  width:56px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:184px;
}
#u49 {
  position:absolute;
  left:168px;
  top:1004px;
  width:696px;
  height:184px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u50 {
  position:absolute;
  left:2px;
  top:24px;
  width:692px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:184px;
}
#u51 {
  position:absolute;
  left:864px;
  top:1004px;
  width:119px;
  height:184px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u52 {
  position:absolute;
  left:2px;
  top:24px;
  width:115px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:236px;
}
#u53 {
  position:absolute;
  left:0px;
  top:1188px;
  width:108px;
  height:236px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u54 {
  position:absolute;
  left:2px;
  top:110px;
  width:104px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:236px;
}
#u55 {
  position:absolute;
  left:108px;
  top:1188px;
  width:60px;
  height:236px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u56 {
  position:absolute;
  left:2px;
  top:110px;
  width:56px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:236px;
}
#u57 {
  position:absolute;
  left:168px;
  top:1188px;
  width:696px;
  height:236px;
  font-size:14px;
  text-align:left;
}
#u58 {
  position:absolute;
  left:2px;
  top:24px;
  width:692px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:236px;
}
#u59 {
  position:absolute;
  left:864px;
  top:1188px;
  width:119px;
  height:236px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u60 {
  position:absolute;
  left:2px;
  top:101px;
  width:115px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:99px;
}
#u61 {
  position:absolute;
  left:0px;
  top:1424px;
  width:108px;
  height:99px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u62 {
  position:absolute;
  left:2px;
  top:41px;
  width:104px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:99px;
}
#u63 {
  position:absolute;
  left:108px;
  top:1424px;
  width:60px;
  height:99px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u64 {
  position:absolute;
  left:2px;
  top:41px;
  width:56px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:99px;
}
#u65 {
  position:absolute;
  left:168px;
  top:1424px;
  width:696px;
  height:99px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u66 {
  position:absolute;
  left:2px;
  top:41px;
  width:692px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:99px;
}
#u67 {
  position:absolute;
  left:864px;
  top:1424px;
  width:119px;
  height:99px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u68 {
  position:absolute;
  left:2px;
  top:32px;
  width:115px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:99px;
}
#u69 {
  position:absolute;
  left:0px;
  top:1523px;
  width:108px;
  height:99px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u70 {
  position:absolute;
  left:2px;
  top:42px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:99px;
}
#u71 {
  position:absolute;
  left:108px;
  top:1523px;
  width:60px;
  height:99px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u72 {
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:99px;
}
#u73 {
  position:absolute;
  left:168px;
  top:1523px;
  width:696px;
  height:99px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u74 {
  position:absolute;
  left:2px;
  top:33px;
  width:692px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:99px;
}
#u75 {
  position:absolute;
  left:864px;
  top:1523px;
  width:119px;
  height:99px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u76 {
  position:absolute;
  left:2px;
  top:42px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:214px;
}
#u77 {
  position:absolute;
  left:0px;
  top:1622px;
  width:108px;
  height:214px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u78 {
  position:absolute;
  left:2px;
  top:99px;
  width:104px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:214px;
}
#u79 {
  position:absolute;
  left:108px;
  top:1622px;
  width:60px;
  height:214px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u80 {
  position:absolute;
  left:2px;
  top:98px;
  width:56px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:214px;
}
#u81 {
  position:absolute;
  left:168px;
  top:1622px;
  width:696px;
  height:214px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u82 {
  position:absolute;
  left:2px;
  top:19px;
  width:692px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:214px;
}
#u83 {
  position:absolute;
  left:864px;
  top:1622px;
  width:119px;
  height:214px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u84 {
  position:absolute;
  left:2px;
  top:98px;
  width:115px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u85 {
  position:absolute;
  left:193px;
  top:148px;
  width:673px;
  height:23px;
  font-size:14px;
  color:#1E1E1E;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u87 {
  position:absolute;
  left:0px;
  top:29px;
  width:1020px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  word-wrap:break-word;
}
