body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:825px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:520px;
  height:979px;
  overflow:hidden;
}
#u5681_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:979px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5681_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:979px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:77px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:979px;
}
#u5683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:83px;
  width:480px;
  height:800px;
}
#u5684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5685 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:17px;
  width:68px;
  height:13px;
}
#u5685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u5687 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:908px;
  width:42px;
  height:42px;
}
#u5687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u5688 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:908px;
  width:42px;
  height:42px;
}
#u5688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(162, 162, 162, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5689 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:908px;
  width:42px;
  height:42px;
}
#u5689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u5691 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:908px;
  width:40px;
  height:41px;
}
#u5691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u5692 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:912px;
  width:32px;
  height:33px;
}
#u5692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5693 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:84px;
  width:478px;
  height:38px;
}
#u5693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#009587;
  text-align:center;
}
#u5694 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:95px;
  width:54px;
  height:17px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#009587;
  text-align:center;
}
#u5694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u5695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u5695 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:93px;
  width:12px;
  height:21px;
}
#u5695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u5696 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:93px;
  width:26px;
  height:21px;
}
#u5696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
}
#u5697 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:93px;
  width:18px;
  height:21px;
}
#u5697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u5698 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:93px;
  width:24px;
  height:21px;
  color:#009587;
}
#u5698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5681_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:979px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5681_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:978px;
}
#u5699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:978px;
}
#u5699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:38px;
}
#u5700 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:106px;
  width:461px;
  height:38px;
}
#u5700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u5701 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:115px;
  width:53px;
  height:20px;
}
#u5701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A9B7B7;
  text-align:center;
}
#u5702 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:117px;
  width:54px;
  height:17px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A9B7B7;
  text-align:center;
}
#u5702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u5703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:22px;
}
#u5704 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:144px;
  width:133px;
  height:26px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:22px;
}
#u5704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u5705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:2px;
}
#u5705 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:189px;
  width:480px;
  height:1px;
}
#u5705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:3px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5707 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:156px;
  width:28px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u5707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:3px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5708 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:156px;
  width:28px;
  height:3px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u5708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5710 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:145px;
  width:5px;
  height:5px;
}
#u5710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5711 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:155px;
  width:5px;
  height:5px;
}
#u5711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5712 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:165px;
  width:5px;
  height:5px;
}
#u5712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5713 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:190px;
  width:480px;
  height:693px;
  overflow:hidden;
}
#u5713_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:693px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5713_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:722px;
  overflow:hidden;
  touch-action:none;
}
#u5714_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:722px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5714_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5715 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:657px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5716 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:650px;
  width:322px;
  height:35px;
}
#u5716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u5717 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:614px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u5717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5718 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:711px;
  width:172px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u5719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u5719 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:22px;
  width:71px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u5719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5720 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:13px;
  width:322px;
  height:35px;
}
#u5720_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5721 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:390px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u5722 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:381px;
  width:322px;
  height:35px;
}
#u5722_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5722_input:disabled {
  color:grayText;
}
#u5723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5723 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:68px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u5724 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:58px;
  width:322px;
  height:35px;
}
#u5724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5724_input:disabled {
  color:grayText;
}
#u5725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5725 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:301px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u5726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5727 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:290px;
  width:322px;
  height:35px;
}
#u5727_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5728 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:301px;
  width:17px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u5729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5729 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:438px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u5730 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:429px;
  width:322px;
  height:35px;
}
#u5730_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5730_input:disabled {
  color:grayText;
}
#u5731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5731 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:486px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u5732 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:477px;
  width:322px;
  height:35px;
}
#u5732_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5732_input:disabled {
  color:grayText;
}
#u5733 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:525px;
  width:322px;
  height:73px;
  overflow:hidden;
}
#u5733_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:73px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5733_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
}
#u5734_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5735 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:10px;
  width:15px;
  height:16px;
  text-align:right;
}
#u5735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5733_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:73px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5733_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:86px;
  overflow:hidden;
}
#u5736_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:86px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5736_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
}
#u5737_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:322px;
  height:35px;
}
#u5738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5739 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:10px;
  width:15px;
  height:16px;
  text-align:right;
}
#u5739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5740 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:54px;
  width:15px;
  height:16px;
  text-align:right;
}
#u5740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5741 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:534px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u5742 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:426px;
  width:410px;
  height:41px;
  overflow:hidden;
  visibility:hidden;
}
#u5742_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5742_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u5744 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:0px;
  width:322px;
  height:35px;
}
#u5744_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5745 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:605px;
  width:322px;
  height:35px;
}
#u5745_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFCC00;
}
#u5746 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:711px;
  width:172px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFCC00;
}
#u5746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u5747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5747 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:115px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u5748 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:474px;
  width:410px;
  height:41px;
  overflow:hidden;
  visibility:hidden;
}
#u5748_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5748_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u5750 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:9px;
  width:43px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u5750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5751 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:0px;
  width:322px;
  height:35px;
}
#u5751_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5752 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:9px;
  width:31px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u5753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5753 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:106px;
  width:322px;
  height:35px;
}
#u5753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u5754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5754 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:153px;
  width:322px;
  height:35px;
}
#u5754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u5755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5755 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:198px;
  width:322px;
  height:35px;
}
#u5755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u5756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5756 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:255px;
  width:78px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u5757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5758 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:246px;
  width:322px;
  height:35px;
}
#u5758_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5759 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:345px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u5760 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:335px;
  width:135px;
  height:35px;
}
#u5760_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5760_input:disabled {
  color:grayText;
}
#u5761 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:335px;
  width:135px;
  height:35px;
}
#u5761_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5761_input:disabled {
  color:grayText;
}
#u5762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5762 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:345px;
  width:18px;
  height:16px;
}
#u5762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u5763 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:190px;
  width:480px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5764 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:883px;
  width:480px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5765 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:190px;
  width:295px;
  height:16px;
}
#u5765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
