body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:481px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:498px;
}
#u4966 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:498px;
}
#u4967 {
  position:absolute;
  left:2px;
  top:241px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:210px;
}
#u4968 {
  position:absolute;
  left:0px;
  top:721px;
  width:481px;
  height:210px;
}
#u4969 {
  position:absolute;
  left:2px;
  top:97px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4970 {
  position:absolute;
  left:0px;
  top:498px;
  width:481px;
  height:47px;
}
#u4971 {
  position:absolute;
  left:2px;
  top:16px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u4972 {
  position:absolute;
  left:9px;
  top:509px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u4973 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4975 {
  position:absolute;
  left:53px;
  top:561px;
  width:28px;
  height:28px;
}
#u4976 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u4977 {
  position:absolute;
  left:51px;
  top:599px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u4978 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4980 {
  position:absolute;
  left:168px;
  top:561px;
  width:28px;
  height:28px;
}
#u4981 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u4982 {
  position:absolute;
  left:140px;
  top:599px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u4983 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4985 {
  position:absolute;
  left:285px;
  top:561px;
  width:28px;
  height:28px;
}
#u4986 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u4987 {
  position:absolute;
  left:257px;
  top:599px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u4988 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4990 {
  position:absolute;
  left:403px;
  top:561px;
  width:28px;
  height:28px;
}
#u4991 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u4992 {
  position:absolute;
  left:375px;
  top:599px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u4993 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4995 {
  position:absolute;
  left:53px;
  top:642px;
  width:28px;
  height:28px;
}
#u4996 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u4997 {
  position:absolute;
  left:25px;
  top:680px;
  width:81px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u4998 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5000 {
  position:absolute;
  left:168px;
  top:642px;
  width:28px;
  height:28px;
}
#u5001 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u5002 {
  position:absolute;
  left:140px;
  top:680px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5004 {
  position:absolute;
  left:25px;
  top:544px;
  width:81px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5005 {
  position:absolute;
  left:140px;
  top:544px;
  width:81px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5006 {
  position:absolute;
  left:259px;
  top:544px;
  width:81px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5007 {
  position:absolute;
  left:377px;
  top:546px;
  width:81px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5008 {
  position:absolute;
  left:25px;
  top:632px;
  width:81px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5009 {
  position:absolute;
  left:140px;
  top:632px;
  width:81px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5011 {
  position:absolute;
  left:285px;
  top:642px;
  width:28px;
  height:28px;
}
#u5012 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u5013 {
  position:absolute;
  left:257px;
  top:680px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u5014 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5015 {
  position:absolute;
  left:261px;
  top:632px;
  width:81px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5017 {
  position:absolute;
  left:403px;
  top:642px;
  width:28px;
  height:28px;
}
#u5018 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u5019 {
  position:absolute;
  left:368px;
  top:680px;
  width:99px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u5020 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5021 {
  position:absolute;
  left:381px;
  top:639px;
  width:73px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
